EcommerceCCO2023/bin/
EcommerceCCO2023/EcommerceCCO2023/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
EcommerceCCO2023/EcommerceCCO2023/bin/
EcommerceCCO2023/obj/
EcommerceCCO2023/EcommerceCCO2023/obj/
